<header>
  <h1>
    <a href="{{ "/" | relLangURL }}">
      <img src="{{ "images/logo.svg" | relURL }}" alt="" width="100" height="100">
      {{ site.Title }}
    </a>
  </h1>
  {{ with site.Menus.main }}
    <nav aria-label="Main">
      <ul>
        {{ range . }}
          {{ if ne .Params.type "search" }}
            <li>
              <a href="{{ .URL | relLangURL }}"{{ if $.IsMenuCurrent "main" . }} aria-current="page"{{ end }}>{{ .Name }}</a>
            </li>
          {{ end }}
        {{ end }}
      </ul>
    </nav>
  {{ end }}
</header>
