{{ $pages := .Pages.ByTitle }}
{{ with $pages }}
  {{ $pageSize := site.Params.pagination.pageSize | default 6 }}
  {{ $paginator := $.Paginate $pages $pageSize }}
  <section aria-label="Pages">
    <ul>
      {{ range $paginator.Pages }}
        <li>
          <article>
            <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
            {{ with .Description }}<p>{{ . }}</p>{{ end }}
            {{ partial "dress/resource-meta.html" . }}
          </article>
        </li>
      {{ end }}
    </ul>
  </section>
  {{ partial "dress/pagination.html" $ }}
{{ end }}
